body {
    background-color: #d6ccc2;
    font-family: 'Barlow Condensed', sans-serif;
    color: #003049;
    font-size: 1.1rem;
    
}

h1 {
    color: #a86123;
    font-size: 2.5rem;
}

header {
    padding: 20px;
    border-bottom: 2px solid #003049;
}
nav a{
    color: #bc6c25;
}


main {
    padding: 3rem 2rem;
    max-width: 800px;
    margin: 0 auto;
   
}
 .metodo-titulo {
    
    font-size: 1.1rem;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    color: #a86123;
}
.precio {

    padding: 0.2rem 0.5rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: #bc6c25;
}




#contador-tazas {
    font-size: 1.7rem;
    padding: 0.2rem 0.5rem;
    letter-spacing: 1px;
    font-weight: 700;
    color: #bc6c25;
}

#boton-reservar {
    
    padding: 0.5rem 1rem;
    background-color: #bc6b25d2;
    color: #fff;
    
}





footer {
    padding: 20px;
    border-top: 1px solid #002f492a;
    text-align: center;
}

 .horario-titulo {
    font-size: 1.2rem;
    font-weight: bold;
}